<h1>My to do list</h1>
<div>
    <a href="{% url 'base:logout' %}">Logout</a>
</div>
<a href="{% url 'base:create' %}">Add Task</a>
<table>
    <tr>
        <th>Item</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    {% for task in tasks %} 
    <tr>
        <td>{{ task.title }}</td>
        <td><a href="{% url 'base:detail' task.id %}">View</a></td>
        <td><a href="{% url 'base:update' task.id %}">Edit</a></td>
        <td><a href="{% url 'base:delete' task.id %}">Delete</a></td>
    </tr>
    {% empty %} 
    <h3>No items in list</h3>
    {% endfor %}
</table>